.Rproj.user
.Rhistory
.RData
.Ruserdata
src/.ipynb_checkpoints/reqMeasurements-checkpoint.ipynb
analysis/significantCrossovers.csv
src/__pycache__/Base.cpython-311.pyc
imageMetadata.csv
testplotblups.csv
